<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PROGRAM_NAME" value="SAPM_HANDOVER"/>
    <add key="CONN_STR" value="Data Source=192.168.27.229;User ID=PRD_USER_RPT2;Password=PRD_USER_RPT2;"/>
    <add key="QUERY_EXCEL" value="SELECT
	PERIODE_DATA                  
	, NO_CIF                        
	, REGION_KELOLAAN               
	, CABANG_KELOLAAN               
	, NAMA_CABANG_KELOLAAN          
	, KLN_KELOLAAN                  
	, NAMA_KLN_KELOLAAN
	, SEGMENT_MACRO_BASELINE        
	, SEGMENT_MACRO_POSISI
	, SEGMENT_MICRO_BASELINE        
	, SEGMENT_MICRO_POSISI          
	, NAMA_NASABAH                  
	, PENGHASILAN_NASABAH           
	, NO_HANDPHONE                  
	, ALAMAT_TERKINI                
	, ALAMAT_SESUAIID               
	, TANGGAL_LAHIR                 
	, USIA                          
	, KODE_PEKERJAAN                
	, NAMA_PEKERJAAN                
	, JENIS_KELAMIN                 
	, KODE_STATUS_PERNIKAHAN        
	, LIFE_TIME                     
	, TOTAL_DPK                     
	, TOTAL_LOAN                    
	, TOTAL_INVESTASI_OBLIGASI      
	, TOTAL_INVESTASI_BANCASS       
	, TOTAL_AUM                     
	, ASURANSI                      
	, BIDBOND                       
	, BILLPAYMENT                   
	, BILLINGPAYMENTS               
	, BNIDIRECT                     
	, BNIFLEKSI                     
	, BNIGRIYA                      
	, BNIINSTAN                     
	, BNIMULTIGUNA                  
	, BNIOTO                        
	, BWU                           
	, CAPITALMARKET                 
	, COLLECTIONFINANCING           
	, DEPOSITO                      
	, DERIVATIVE                    
	, DOCUMENTARYCOLLECTION         
	, DPLK                          
	, FOREX                         
	, GARANSIBANKLAINNYA            
	, GIRO                          
	, GUARANTEE                     
	, INTERNETBANKING               
	, INVESTASI                     
	, KARTUDEBIT                    
	, KARTUKREDIT                   
	, KI                            
	, KIRIMANUANG                   
	, KKLK                          
	, KMK                           
	, KREDITPROGRAM                 
	, LC                            
	, LC_SKBDNFINANCING             
	, MOBILEBANKING                 
	, PERFORMANCEBOND               
	, PHONEBANKING                  
	, POOLINGACCOUNT                
	, REMITTANCE                    
	, SKBDN                         
	, SMSBANKING                    
	, STUDENTPAYMENTCENTER          
	, TABUNGANPERENCANAAN           
	, TABUNGANTRANSAKSI             
	, VIRTUALACCOUNT                
	, PRODUCTHOLDING                
	, STATUS_INTERNETBANKING        
	, STATUS_SMSBANKING             
	, STATUS_PHONEBANKING           
	, STATUS_DORMANT_CIF            
	, SALDORATA2_TAPLUSMUDA         
	, SALDORATA2_TAPLUSANAK         
	, SALDORATA2_BNIDOLLAR          
	, SALDORATA2_TABUNGANPERENCANAAN
	, SALDORATA2_TAPENAS            
	, SALDORATA2_TAPLUS             
	, SALDORATA2_TAPLUSBISNIS       
	, SALDORATA2_EMERALDSAVING      
	, SALDORATARATA_6BLN
	, NPP_SALES
FROM @ARGS4  
WHERE PERIODE_DATA = '@ARGS1'
	AND region_kelolaan = '@ARGS2'
  AND CABANG_KELOLAAN = '@ARGS3'
  "/>
    <add key="QUERY_EXCEL_WILAYAH" value="SELECT
	PERIODE_DATA                  
	, NO_CIF                        
	, REGION_KELOLAAN               
	, CABANG_KELOLAAN               
	, NAMA_CABANG_KELOLAAN          
	, KLN_KELOLAAN                  
	, NAMA_KLN_KELOLAAN
	, SEGMENT_MACRO_BASELINE        
	, SEGMENT_MACRO_POSISI
	, SEGMENT_MICRO_BASELINE        
	, SEGMENT_MICRO_POSISI          
	, NAMA_NASABAH                  
	, PENGHASILAN_NASABAH           
	, NO_HANDPHONE                  
	, ALAMAT_TERKINI                
	, ALAMAT_SESUAIID               
	, TANGGAL_LAHIR                 
	, USIA                          
	, KODE_PEKERJAAN                
	, NAMA_PEKERJAAN                
	, JENIS_KELAMIN                 
	, KODE_STATUS_PERNIKAHAN        
	, LIFE_TIME                     
	, TOTAL_DPK                     
	, TOTAL_LOAN                    
	, TOTAL_INVESTASI_OBLIGASI      
	, TOTAL_INVESTASI_BANCASS       
	, TOTAL_AUM                     
	, ASURANSI                      
	, BIDBOND                       
	, BILLPAYMENT                   
	, BILLINGPAYMENTS               
	, BNIDIRECT                     
	, BNIFLEKSI                     
	, BNIGRIYA                      
	, BNIINSTAN                     
	, BNIMULTIGUNA                  
	, BNIOTO                        
	, BWU                           
	, CAPITALMARKET                 
	, COLLECTIONFINANCING           
	, DEPOSITO                      
	, DERIVATIVE                    
	, DOCUMENTARYCOLLECTION         
	, DPLK                          
	, FOREX                         
	, GARANSIBANKLAINNYA            
	, GIRO                          
	, GUARANTEE                     
	, INTERNETBANKING               
	, INVESTASI                     
	, KARTUDEBIT                    
	, KARTUKREDIT                   
	, KI                            
	, KIRIMANUANG                   
	, KKLK                          
	, KMK                           
	, KREDITPROGRAM                 
	, LC                            
	, LC_SKBDNFINANCING             
	, MOBILEBANKING                 
	, PERFORMANCEBOND               
	, PHONEBANKING                  
	, POOLINGACCOUNT                
	, REMITTANCE                    
	, SKBDN                         
	, SMSBANKING                    
	, STUDENTPAYMENTCENTER          
	, TABUNGANPERENCANAAN           
	, TABUNGANTRANSAKSI             
	, VIRTUALACCOUNT                
	, PRODUCTHOLDING                
	, STATUS_INTERNETBANKING        
	, STATUS_SMSBANKING             
	, STATUS_PHONEBANKING           
	, STATUS_DORMANT_CIF            
	, SALDORATA2_TAPLUSMUDA         
	, SALDORATA2_TAPLUSANAK         
	, SALDORATA2_BNIDOLLAR          
	, SALDORATA2_TABUNGANPERENCANAAN
	, SALDORATA2_TAPENAS            
	, SALDORATA2_TAPLUS             
	, SALDORATA2_TAPLUSBISNIS       
	, SALDORATA2_EMERALDSAVING      
	, SALDORATARATA_6BLN
	, NPP_SALES
FROM @ARGS3
WHERE PERIODE_DATA = '@ARGS1'
	AND region_kelolaan = '@ARGS2'
  "/>
    <add key="QUERYWILAYAH" value="Select distinct cast(Region_Kelolaan as bigint) as Wilayah from @ARGS1 order by wilayah "/>
    <add key="QUERYCABANG" value="select distinct cast(Cabang_Kelolaan as bigint) as Cabang from @ARGS2 where region_kelolaan = '@ARGS1' order by Cabang"/>
    <add key="QUERYNAMACABANG" value="select distinct nama_cabang_kelolaan from @ARGS3 where region_kelolaan = '@ARGS1' and cabang_kelolaan = '@ARGS2' order by nama_cabang_kelolaan "/>
		<add key="QUERYTOTALWILAYAH" value="select count(distinct Region_Kelolaan) from @ARGS2 where periode_data = '@ARGS1'"/>    
    <add key="QUERYTOTALRECORD" value="select count(*) from (SELECT
	PERIODE_DATA                  
	, NO_CIF                        
	, REGION_KELOLAAN               
	, CABANG_KELOLAAN               
	, NAMA_CABANG_KELOLAAN          
	, KLN_KELOLAAN                  
	, NAMA_KLN_KELOLAAN
	, SEGMENT_MACRO_BASELINE        
	, SEGMENT_MACRO_POSISI
	, SEGMENT_MICRO_BASELINE        
	, SEGMENT_MICRO_POSISI          
	, NAMA_NASABAH                  
	, PENGHASILAN_NASABAH           
	, NO_HANDPHONE                  
	, ALAMAT_TERKINI                
	, ALAMAT_SESUAIID               
	, TANGGAL_LAHIR                 
	, USIA                          
	, KODE_PEKERJAAN                
	, NAMA_PEKERJAAN                
	, JENIS_KELAMIN                 
	, KODE_STATUS_PERNIKAHAN        
	, LIFE_TIME                     
	, TOTAL_DPK                     
	, TOTAL_LOAN                    
	, TOTAL_INVESTASI_OBLIGASI      
	, TOTAL_INVESTASI_BANCASS       
	, TOTAL_AUM                     
	, ASURANSI                      
	, BIDBOND                       
	, BILLPAYMENT                   
	, BILLINGPAYMENTS               
	, BNIDIRECT                     
	, BNIFLEKSI                     
	, BNIGRIYA                      
	, BNIINSTAN                     
	, BNIMULTIGUNA                  
	, BNIOTO                        
	, BWU                           
	, CAPITALMARKET                 
	, COLLECTIONFINANCING           
	, DEPOSITO                      
	, DERIVATIVE                    
	, DOCUMENTARYCOLLECTION         
	, DPLK                          
	, FOREX                         
	, GARANSIBANKLAINNYA            
	, GIRO                          
	, GUARANTEE                     
	, INTERNETBANKING               
	, INVESTASI                     
	, KARTUDEBIT                    
	, KARTUKREDIT                   
	, KI                            
	, KIRIMANUANG                   
	, KKLK                          
	, KMK                           
	, KREDITPROGRAM                 
	, LC                            
	, LC_SKBDNFINANCING             
	, MOBILEBANKING                 
	, PERFORMANCEBOND               
	, PHONEBANKING                  
	, POOLINGACCOUNT                
	, REMITTANCE                    
	, SKBDN                         
	, SMSBANKING                    
	, STUDENTPAYMENTCENTER          
	, TABUNGANPERENCANAAN           
	, TABUNGANTRANSAKSI             
	, VIRTUALACCOUNT                
	, PRODUCTHOLDING                
	, STATUS_INTERNETBANKING        
	, STATUS_SMSBANKING             
	, STATUS_PHONEBANKING           
	, STATUS_DORMANT_CIF            
	, SALDORATA2_TAPLUSMUDA         
	, SALDORATA2_TAPLUSANAK         
	, SALDORATA2_BNIDOLLAR          
	, SALDORATA2_TABUNGANPERENCANAAN
	, SALDORATA2_TAPENAS            
	, SALDORATA2_TAPLUS             
	, SALDORATA2_TAPLUSBISNIS       
	, SALDORATA2_EMERALDSAVING      
	, SALDORATARATA_6BLN
	, NPP_SALES
FROM @ARGS2
where periode_data = '@ARGS1') TotalRecord"/>
    <add key="QUERYTOTALCABANG" value="select count(distinct Cabang_Kelolaan) from @ARGS2 WHERE PERIODE_DATA = '@ARGS1'"/>
    <add key="PRINT_QUERY" value="Y"/>
    <add key="TIMEOUT" value="0"/>
    <add key="DELIMITER" value="|"/>
    <add key="HEADER" value="Y"/>
    <add key="FILENAME" value="LOAN_@ARGS1.txt"/>
    <add key="DIRECTORY" value="C:\ReportNet\"/>
    <add key="RUN_FTP" value="Y"/>
    <add key="FTP_ZIP" value="N"/>
    <add key="FTP" value="ftp://192.168.98.78/03_OTHERS/CUSTOMER_CR/SAPM/"/>
    <add key="USERNAME" value="SHARE_FTP"/>
    <add key="PASSWORD" value="SHARE_FTP"/>
    <add key="READ_KEY" value="Y"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>